
@{
    ViewBag.Title = "Cart";
}

<div ng-app="cart" ng-controller="cartController">

    <div class="panel panel-body" ng-switch="models.mode">
        <div ng-switch-when="cart">
            <div class="jumbotron">
                <table class="table table-bordered table-striped">
                    <caption>Товары в корзине</caption>
                    <tr>
                        <th>№</th>
                        <th>Товар</th>
                        <th>Количество</th>
                        <th>Цена</th>
                        <th>Сумма</th>
                    </tr>

                    <tr ng-repeat="rowData in models.orderRows">
                        <td>{{rowData.rowId}}</td>
                        <td>{{rowData.productName}}</td>
                        <td><input type="number" min="0" ng-model="rowData.qty" ng-change="QtyChange(rowData)" /></td>
                        <td>{{rowData.price}}</td>
                        <td>{{rowData.sum}}</td>

                    </tr>

                    <tr>
                        <td colspan="4"><b>Итого:</b></td>
                        <td><b>{{models.total}}</b></td>

                    </tr>


                </table>

                <button ng-click="gotoPaymentCmd()"> Перейти к оплате </button>

            </div>
        </div>

        <div ng-switch-when="order">

            <h2>Заказ № {{models.orderNumber}} </h2>
            <h3> К оплате {{models.total}}</h3>
            <br>
            Комментарий к заказу:
            <br>
            <textarea cols="30" rows="5" ng-model="models.comment"></textarea>
            <br>
            <button ng-click="paymentCmd()"> Оплата </button>

        </div>

        <div ng-switch-when="complete">

            <h2>Благодарим за покупку, наш менеджер свяжется с вами!</h2>

        </div>

        <div ng-switch-default>

            <h3>Нет товаров в корзине!</h3>

        </div>


    </div>

    @Scripts.Render("~/bundles/cart")

</div>

