@model Shop.Models.ProductViewModel

@{
    ViewBag.Title = "Редактирование номенклатуры";
}

<h2 class="bg-info">Изменить номенклатуру</h2>

@using (Html.BeginForm("SaveProduct", "Manage", FormMethod.Post))
{
    @Html.EditorForModel()

    @Html.DropDownListFor(m=>m.ProductType,ViewBag.ProductTypesList as SelectList) 

    <div class="editor-field">
        
        <input type="file" name="TestFile" id="TestFile"/>

    </div>

    <input type="submit" value="Сохранить"/>
}

