@model Shop.Models.ProductViewModel

@{
    ViewBag.Title = "Редактирование номенклатуры";
}

<h2 class="bg-info">Изменить номенклатуру</h2>

@using (Html.BeginForm("SaveProduct", "Manage", FormMethod.Post))
{
    @Html.EditorForModel();

    <input type="submit" value="Сохранить"/>
}

