@model Shop.Models.NewsViewModel

@{
    ViewBag.Title = "Редактирование новости";
}

@using (Html.BeginForm("SaveNews", "Admin", FormMethod.Post))
{

    <div class="panel panel-body">

        @Html.AntiForgeryToken()

        @Html.EditorForModel()

        <input type="submit" value="Сохранить" />

    </div>
}