@model IEnumerable<Shop.Models.ProductTypeViewModel>  

@{
    ViewBag.Title = "ProductTypes";
}

<h2 class="bg-info">Типы номенклатуры</h2>

@if (Model != null)
{
    <table class="table table-bordered">
        <tr>
            <th>id</th>
            <th>Наименование</th>
            <th></th>
        </tr>
        @foreach (var pType in Model)
        {
            <tr>
                <td>
                    @pType.Id
                </td>
                <td>
                    @pType.Name
                </td>
                <td>
                    @Html.ActionLink("изменить","ProductType",new{groupId = pType.Id})
                </td>
            </tr> 
        }
    </table>

    <input type="button" value="Добавить" onclick="location.href='@Url.Action("AddProductType")'"/>

}

