@model IEnumerable<Shop.Models.UserViewModel>

@if (Model != null)
{
<table class="table table-bordered">
    <tr>

        <th>Пользователь</th>
        <th>Администратор</th>
        <th>Тип цены</th>
        <th></th>
    </tr>
    @foreach (var user in Model)
    {
    <tr>
        <td>
            @user.Email
        </td>
        <td>
            @Html.CheckBoxFor(u=>user.IsAdmin,new { disabled = "disabled" })
        </td>
        <td>
            @user.PriceType.Name
        </td>
        <td>
            @Html.ActionLink("Изменить", "EditUser", new { Email = user.Email})
        </td>
    </tr>
    }
</table>
}

